.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 1px solid black;
  box-shadow: 3px 3px 5px rgb(187, 183, 183);
  margin: 5px;
  padding: 5px;
}
li {
  font-family: Arial, Helvetica, sans-serif;
}
