* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  background-image: url(./images/wall.jpg);
  height: 100vh;
}
.sect {
  background-color: snow;
  border-radius: 0.3rem;
  font-family: cursive;
  font-style: inherit;
  font-size: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 80%;
  padding: 50px;
}
.card {
  max-width: 200px;
}
img {
  width: 100%;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
}
p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
