* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  background-image: url(./images/wall.jpg);
  height: 100vh;
}
.sect {
  background-color: snow;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}
.card {
  max-width: 200px;
}
img {
  width: 100%;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
}
p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
